@model int
<div class="text-center">
    <h1 class="text-info pt-4">Chúc mừng! Bạn sắp được nhận hàng rồi.</h1>
    <p class="pb-3">Chúng tôi đã nhận được đơn hàng của bạn và sẽ sẵn sàng sau 30 phút.</p>
    <h4 class="text-warning pb-3">Order ID - @Model</h4>
   


</div>